<div class="bg-img">
  <form  class="container">
    <h1>Update</h1>

    <label  ><b>Firstname</b></label>
    <input type="text" placeholder="Enter Firstname" name="firstname" required>

    <label  ><b>lastname</b></label>
    <input type="text" placeholder="Enter lastname" name="lastname" required>

    <label  ><b>email</b></label>
    <input type="text" placeholder="Enter email" name="email" required>

    <label  ><b>Address</b></label>
    <input type="text" placeholder="Enter Address" name="address" required>

    <button type="submit" class="btn">save</button>
  </form>
</div>